In [1]:
import pandas as pd

In [2]:
ev_file_path = "./Evictions.csv"


# Skip metadata lines and read the actual data
eviction = pd.read_csv(ev_file_path, skiprows=6, names=["Zipcode","Year", "Data Format", "Evictions", "FIPS"])

In [3]:
eviction

            Zipcode  Year Data Format  Evictions     FIPS
0             10001  2017      Number       46.0    10001
1             10002  2017      Number       77.0    10002
2             10003  2017      Number       42.0    10003
3             10004  2017      Number        3.0    10004
4             10005  2017      Number       14.0    10005
...             ...   ...         ...        ...      ...
1511       Brooklyn  2021      Number       52.0    36047
1512      Manhattan  2021      Number       20.0    36061
1513         Queens  2021      Number       19.0    36081
1514  Staten Island  2021      Number       25.0    36085
1515  New York City  2021      Number      129.0  3651000

[1516 rows x 5 columns]

In [4]:
eviction["Zipcode"].unique()

array(['10001', '10002', '10003', '10004', '10005', '10006', '10007',
       '10009', '10010', '10011', '10012', '10013', '10014', '10016',
       '10017', '10018', '10019', '10021', '10022', '10023', '10024',
       '10025', '10026', '10027', '10028', '10029', '10030', '10031',
       '10032', '10033', '10034', '10035', '10036', '10037', '10038',
       '10039', '10040', '10044', '10065', '10069', '10075', '10128',
       '10280', '10282', '10301', '10302', '10303', '10304', '10305',
       '10306', '10307', '10308', '10309', '10310', '10312', '10314',
       '10451', '10452', '10453', '10454', '10455', '10456', '10457',
       '10458', '10459', '10460', '10461', '10462', '10463', '10464',
       '10465', '10466', '10467', '10468', '10469', '10470', '10471',
       '10472', '10473', '10474', '10475', '11001', '11004', '11005',
       '11040', '11096', '11101', '11102', '11103', '11104', '11105',
       '11106', '11109', '11201', '11203', '11204', '11205', '11206',
       '11207', '11208', '11209', '11210', '11211', '11212', '11213',
       '11214', '11215', '11216', '11217', '11218', '11219', '11220',
       '11221', '11222', '11223', '11224', '11225', '11226', '11228',
       '11229', '11230', '11231', '11232', '11233', '11234', '11235',
       '11236', '11237', '11238', '11239', '11249', '11354', '11355',
       '11356', '11357', '11358', '11359', '11360', '11361', '11362',
       '11363', '11364', '11365', '11366', '11367', '11368', '11369',
       '11370', '11371', '11372', '11373', '11374', '11375', '11377',
       '11378', '11379', '11385', '11411', '11412', '11413', '11414',
       '11415', '11416', '11417', '11418', '11419', '11420', '11421',
       '11422', '11423', '11426', '11427', '11428', '11429', '11430',
       '11432', '11433', '11434', '11435', '11436', '11691', '11692',
       '11693', '11694', '11697', 'Bronx', 'Brooklyn', 'Manhattan',
       'Queens', 'Staten Island', 'New York City'], dtype=object)

In [5]:
pwd

'/Users/yukiogawa/hacks/cmmc/Data/Evction'

In [6]:
import pandas as pd

xls = pd.ExcelFile('./zipcode.xlsx')
modzcta_dict = xls.parse(sheet_name=0)  # adjust sheet_name if needed
modzcta_dict.to_csv('modzcta.csv', index=False)

modzcta_dict.head(), modzcta_dict.columns

(    ZCTA  MODZCTA  UHFCODE                         UHFNAME    BOROUGH
 0  10001    10001      306               Chelsea - Clinton  Manhattan
 1  10002    10002      309  Union Square - Lower East Side  Manhattan
 2  10003    10003      309  Union Square - Lower East Side  Manhattan
 3  10004    10004      310                 Lower Manhattan  Manhattan
 4  10005    10005      310                 Lower Manhattan  Manhattan,
 Index(['ZCTA', 'MODZCTA', 'UHFCODE', 'UHFNAME', 'BOROUGH'], dtype='object'))

In [7]:
eviction['ZIPCODE'] = eviction['Zipcode'].astype(str)
modzcta_dict['ZCTA'] = modzcta_dict['ZCTA'].astype(str)

# Merge on ZIPCODE â†” ZCTA
evictions_with_neighborhood = eviction.merge(modzcta_dict, left_on='ZIPCODE', right_on='ZCTA', how='left')
evictions_with_neighborhood

,Zipcode,Year,Data Format,Evictions,FIPS,ZIPCODE,ZCTA,MODZCTA,UHFCODE,UHFNAME,BOROUGH
0,10001,2017,Number,46.0,10001,10001,10001,10001.0,306.0,Chelsea - Clinton,Manhattan
1,10002,2017,Number,77.0,10002,10002,10002,10002.0,309.0,Union Square - Lower East Side,Manhattan
2,10003,2017,Number,42.0,10003,10003,10003,10003.0,309.0,Union Square - Lower East Side,Manhattan
3,10004,2017,Number,3.0,10004,10004,10004,10004.0,310.0,Lower Manhattan,Manhattan
4,10005,2017,Number,14.0,10005,10005,10005,10005.0,310.0,Lower Manhattan,Manhattan
...,...,...,...,...,...,...,...,...,...,...,...
1511,Brooklyn,2021,Number,52.0,36047,Brooklyn,NaN,NaN,NaN,NaN,NaN
1512,Manhattan,2021,Number,20.0,36061,Manhattan,NaN,NaN,NaN,NaN,NaN
1513,Queens,2021,Number,19.0,36081,Queens,NaN,NaN,NaN,NaN,NaN
1514,Staten Island,2021,Number,25.0,36085,Staten Island,NaN,NaN,NaN,NaN,NaN
1515,New York City,2021,Number,129.0,3651000,New York City,NaN,NaN,NaN,NaN,NaN

In [8]:
evictions_with_neighborhood = evictions_with_neighborhood.drop(columns=["FIPS"])

In [9]:
evictions_with_neighborhood = evictions_with_neighborhood.drop(columns=["ZCTA"])
evictions_with_neighborhood = evictions_with_neighborhood.drop(columns=["MODZCTA"])
evictions_with_neighborhood = evictions_with_neighborhood.drop(columns=["UHFCODE"])

In [10]:
evictions_with_neighborhood

,Zipcode,Year,Data Format,Evictions,ZIPCODE,UHFNAME,BOROUGH
0,10001,2017,Number,46.0,10001,Chelsea - Clinton,Manhattan
1,10002,2017,Number,77.0,10002,Union Square - Lower East Side,Manhattan
2,10003,2017,Number,42.0,10003,Union Square - Lower East Side,Manhattan
3,10004,2017,Number,3.0,10004,Lower Manhattan,Manhattan
4,10005,2017,Number,14.0,10005,Lower Manhattan,Manhattan
...,...,...,...,...,...,...,...
1511,Brooklyn,2021,Number,52.0,Brooklyn,NaN,NaN
1512,Manhattan,2021,Number,20.0,Manhattan,NaN,NaN
1513,Queens,2021,Number,19.0,Queens,NaN,NaN
1514,Staten Island,2021,Number,25.0,Staten Island,NaN,NaN
1515,New York City,2021,Number,129.0,New York City,NaN,NaN

In [11]:
evictions_with_neighborhood_rate = evictions_with_neighborhood.loc[evictions_with_neighborhood["Data Format"].str.contains("Rate", case=False, na=False)]

In [12]:
evictions_with_neighborhood_number = evictions_with_neighborhood.loc[evictions_with_neighborhood["Data Format"].str.contains("Number", case=False, na=False)]

In [13]:
evictions_with_neighborhood_number

evictions_with_neighborhood_number.to_csv("evictions_with_neighborhood_number.csv", index=False)

In [14]:
evictions_with_neighborhood_rate

,Zipcode,Year,Data Format,Evictions,ZIPCODE,UHFNAME,BOROUGH
740,10001,2017,Rate,5.18719,10001,Chelsea - Clinton,Manhattan
741,10002,2017,Rate,2.65967,10002,Union Square - Lower East Side,Manhattan
742,10003,2017,Rate,2.33606,10003,Union Square - Lower East Side,Manhattan
743,10004,2017,Rate,2.69542,10004,Lower Manhattan,Manhattan
744,10005,2017,Rate,4.04507,10005,Lower Manhattan,Manhattan
...,...,...,...,...,...,...,...
1320,Brooklyn,2019,Rate,7.29324,Brooklyn,NaN,NaN
1321,Manhattan,2019,Rate,3.97458,Manhattan,NaN,NaN
1322,Queens,2019,Rate,7.78708,Queens,NaN,NaN
1323,Staten Island,2019,Rate,11.71024,Staten Island,NaN,NaN
1324,New York City,2019,Rate,7.96053,New York City,NaN,NaN

In [15]:
res_file_path = "./Residential_Units.csv"

# Skip metadata lines and read the actual data
residential_units = pd.read_csv(res_file_path, skiprows=6, names=["Neighborhood","Year", "Data Format", "Unit", "FIPS"])
residential_units

                 Neighborhood  Year Data Format     Unit     FIPS
0        Battery Park/Tribeca  2018      Number    43892      101
1           Greenwich Village  2018      Number    57146      102
2             Lower East Side  2018      Number    81404      103
3             Chelsea/Clinton  2018      Number    85163      104
4   Midtown Business District  2018      Number    47373      105
..                        ...   ...         ...      ...      ...
60                   Brooklyn  2018      Number   544734    36047
61                  Manhattan  2018      Number   929126    36061
62                     Queens  2018      Number   852626    36081
63              Staten Island  2018      Number   174588    36085
64              New York City  2018      Number  3531582  3651000

[65 rows x 5 columns]

In [16]:
clean_residential_units = residential_units.drop(columns=["FIPS"])

In [17]:
clean_residential_units

clean_residential_units.to_csv("clean_residential_units.csv", index=False)

In [29]:
residential = pd.read_csv('clean_residential_units.csv')
evictions = pd.read_csv('evictions_with_neighborhood_number.csv')

residential = residential.drop(columns = ["Data Format"])
evictions = evictions.drop(columns = ["Data Format"])
evictions = evictions.drop(columns = ["ZIPCODE"])
evictions = evictions.drop(columns = ["Zipcode"])
evictions = evictions.drop(columns = ["BOROUGH"])

print(residential.columns)
print(evictions.columns)

Index(['Neighborhood', 'Year', 'Unit'], dtype='object')
Index(['Year', 'Evictions', 'UHFNAME'], dtype='object')

# standardize the neighborhood names

In [30]:
eviction_to_residential = {
    'Chelsea - Clinton': 'Chelsea/Clinton',
    'Union Square - Lower East Side': 'Lower East Side',
    'Lower Manhattan': 'Battery Park/Tribeca',
    'Gramercy Park -  Murray Hill': 'Murray Hill/Stuyvesant',
    'Greenwich Village - Soho': 'Greenwich Village',
    'Upper East Side': 'Upper East Side',
    'Upper West Side': 'Upper West Side',
    'Central Harlem - Morningside Heights': 'Central Harlem',
    'East Harlem': 'East Harlem',
    'Washington Heights - Inwood': 'Washington Heights',
    'Stapleton - St. George': 'St. George',
    'Port  Richmond': 'Fort Greene/Brooklyn Hts',
    'South Beach - Tottenville': 'South Beach',
    'Willowbrook': 'Brownsville',
    'High Bridge - Morrisania': 'Morrisania',
    'Crotona - Tremont': 'East Tremont',
    'Hunts Point - Mott Haven': 'Mott Haven',
    'Fordham - Bronx Park': 'Bedford Park',
    'Pelham - Throgs Neck': 'Throgs Neck',
    'Kingsbridge - Riverdale': 'Riverdale',
    'Northeast Bronx': 'Williamsbridge',
    'Long Island City - Astoria': 'Astoria',
    'Downtown  - Heights - Slope': 'Fort Greene/Brooklyn Hts',
    'East Flatbush - Flatbush': 'East Flatbush',
    'Borough Park': 'Borough Park',
    'Williamsburg - Bushwick': 'Williamsburg/Greenpoint',
    'East New York': 'East New York',
    'Bensonhurst - Bay Ridge': 'Bay Ridge',
    'Greenpoint': 'Williamsburg/Greenpoint',
    'Bedford Stuyvesant - Crown Heights': 'Bedford Stuyvesant',
    'Sunset Park': 'Sunset Park',
    'Coney Island - Sheepshead Bay': 'Coney Island',
    'Canarsie - Flatlands': 'Canarsie',
    'Flushing - Clearview': 'Flushing',
    'Bayside - Little Neck': 'Bayside',
    'Fresh Meadows': 'Fresh Meadows/Briarwood',
    'West Queens': 'Sunnyside/Woodside',
    'Ridgewood - Forest Hills': 'Ridgewood/Glendale',
    'Jamaica': 'Jamaica/St. Albans',
    'Rockaway': 'The Rockaways',
    'Southwest Queens': 'Woodhaven'
}

In [31]:
evictions['Neighborhood'] = evictions['UHFNAME'].map(eviction_to_residential)

In [32]:
unmatched_residential = set(residential['Neighborhood']) - set(evictions['Neighborhood'])
unmatched_evictions = set(evictions['Neighborhood']) - set(residential['Neighborhood'])

print("Unmatched Residential:", unmatched_residential)
print("Unmatched Eviction:", unmatched_evictions)

Unmatched Residential: {'Elmhurst/Corona', 'Hunts Point', 'Jackson Heights', 'Crown Heights North', 'Manhattanville', 'University Heights', 'Staten Island', 'Rego Park/Forest Hills', 'Midtown Business District', 'Howard Beach', 'Bensonhurst', 'Sheepshead Bay', 'Manhattan', 'Unionport/Soundview', 'Pelham Parkway', 'New York City', 'Flatbush/Midwood', 'Queens', 'Tottenville', 'Bushwick', 'Concourse/Highbridge', 'Bronx', 'Queens Village', 'Park Slope', 'Crown Heights South', 'Brooklyn'}
Unmatched Eviction: {nan}

In [36]:
merged = residential.merge(evictions, on=['Neighborhood', 'Year'], how='inner')

# Compute Rent-to-Income Ratio (RTI) as (Median Rent / Median Income) * 100
merged["Eviction Rate"] = (merged["Evictions"]/ merged["Unit"]) * 100

In [37]:
merged

,Neighborhood,Year,Unit,Evictions,UHFNAME,Eviction Rate
0,Battery Park/Tribeca,2018,43892,4.0,Lower Manhattan,0.009113
1,Battery Park/Tribeca,2018,43892,13.0,Lower Manhattan,0.029618
2,Battery Park/Tribeca,2018,43892,4.0,Lower Manhattan,0.009113
3,Battery Park/Tribeca,2018,43892,3.0,Lower Manhattan,0.006835
4,Battery Park/Tribeca,2018,43892,16.0,Lower Manhattan,0.036453
...,...,...,...,...,...,...
167,South Beach,2018,48732,67.0,South Beach - Tottenville,0.137487
168,South Beach,2018,48732,18.0,South Beach - Tottenville,0.036937
169,South Beach,2018,48732,15.0,South Beach - Tottenville,0.030781
170,South Beach,2018,48732,28.0,South Beach - Tottenville,0.057457
171,South Beach,2018,48732,16.0,South Beach - Tottenville,0.032833

In [39]:
eviction_grouped = merged.groupby(['Neighborhood', 'Year'], as_index=False).agg({
    'Evictions': 'sum',
    'Unit': 'first'  # Assuming Units are constant per neighborhood-year
})

In [40]:
eviction_grouped['Eviction Rate'] = eviction_grouped['Evictions'] / eviction_grouped['Unit']

In [41]:
eviction_grouped

                Neighborhood  Year  Evictions    Unit  Eviction Rate
0                    Astoria  2018      280.0   87438       0.003202
1       Battery Park/Tribeca  2018       49.0   43892       0.001116
2                  Bay Ridge  2018      258.0   52070       0.004955
3                    Bayside  2018       55.0   45165       0.001218
4               Bedford Park  2018     1585.0   51982       0.030491
5         Bedford Stuyvesant  2018     1266.0   70496       0.017958
6               Borough Park  2018      335.0   60383       0.005548
7                Brownsville  2018       60.0   36432       0.001647
8                   Canarsie  2018      470.0   65237       0.007205
9             Central Harlem  2018      570.0   59541       0.009573
10           Chelsea/Clinton  2018      271.0   85163       0.003182
11              Coney Island  2018      470.0   46421       0.010125
12             East Flatbush  2018     1127.0   58120       0.019391
13               East Harlem  2018      307.0   56990       0.005387
14             East New York  2018      916.0   65804       0.013920
15              East Tremont  2018     1382.0   33005       0.041872
16                  Flushing  2018      314.0   96260       0.003262
17  Fort Greene/Brooklyn Hts  2018      368.0   68650       0.005361
18   Fresh Meadows/Briarwood  2018      172.0   59030       0.002914
19         Greenwich Village  2018       77.0   57146       0.001347
20        Jamaica/St. Albans  2018      949.0   76920       0.012337
21           Lower East Side  2018      207.0   81404       0.002543
22                Morrisania  2018     1239.0   34238       0.036188
23                Mott Haven  2018      757.0   39063       0.019379
24    Murray Hill/Stuyvesant  2018      127.0   99362       0.001278
25        Ridgewood/Glendale  2018      299.0   66329       0.004508
26                 Riverdale  2018      234.0   44172       0.005297
27               South Beach  2018      144.0   48732       0.002955
28                St. George  2018      315.0   65009       0.004845
29        Sunnyside/Woodside  2018      670.0   67243       0.009964
30               Sunset Park  2018      113.0   41436       0.002727
31             The Rockaways  2018      461.0   45804       0.010065
32               Throgs Neck  2018      972.0   49638       0.019582
33           Upper East Side  2018      177.0  149217       0.001186
34           Upper West Side  2018      217.0  127516       0.001702
35        Washington Heights  2018      679.0   72895       0.009315
36            Williamsbridge  2018      717.0   54941       0.013050
37   Williamsburg/Greenpoint  2018      491.0   86107       0.005702
38                 Woodhaven  2018      461.0   46203       0.009978

In [ ]:
# using population as the generalization factor

In [49]:
pop_file_path = "./pop.csv"

pop = pd.read_csv(pop_file_path, names = ['colnum', 'Neighborhood', 'Year', 'Population'])
pop.drop(columns = ['colnum'])

              Neighborhood  Year   Population
0             Neighborhood  Year   Population
1     Battery Park/Tribeca  2005  51150.45963
2        Greenwich Village  2005  75508.54037
3          Lower East Side  2005     145556.0
4          Chelsea/Clinton  2005  88754.39184
...                    ...   ...          ...
2951              Brooklyn  2022    2590516.0
2952             Manhattan  2022    1596273.0
2953                Queens  2022    2278029.0
2954         Staten Island  2022     491133.0
2955         New York City  2022    8335897.0

[2956 rows x 3 columns]

In [62]:
pop.head(10)

    colnum               Neighborhood  Year    Population
1      0.0       Battery Park/Tribeca  2005   51150.45963
2      1.0          Greenwich Village  2005   75508.54037
3      2.0            Lower East Side  2005  145556.00000
4      3.0            Chelsea/Clinton  2005   88754.39184
5      4.0  Midtown Business District  2005   44420.60816
6      5.0     Murray Hill/Stuyvesant  2005  146269.00000
7      6.0            Upper West Side  2005  208708.00000
8      7.0            Upper East Side  2005  211724.00000
9      8.0             Manhattanville  2005  114405.00000
10     9.0             Central Harlem  2005  118291.00000

In [79]:
merged_with_pop = eviction_grouped.merge(pop, on=['Neighborhood', 'Year'], how='inner')
merged_with_pop["Eviction Rate by Population"] = (merged_with_pop["Evictions"] / merged_with_pop["Population"]) * 100
merged_with_pop

,Neighborhood,Year,Evictions,Unit,Eviction Rate,colnum,Population,Eviction Rate by Population
0,Astoria,2018,280.0,87438,0.003202,2511.0,160871.00000,0.174053
1,Battery Park/Tribeca,2018,49.0,43892,0.001116,2469.0,61375.78620,0.079836
2,Bay Ridge,2018,258.0,52070,0.004955,2502.0,125200.00000,0.206070
3,Bayside,2018,55.0,45165,0.001218,2521.0,115744.00000,0.047519
4,Bedford Park,2018,1585.0,51982,0.030491,2487.0,133784.00000,1.184746
5,Bedford Stuyvesant,2018,1266.0,70496,0.017958,2495.0,155117.00000,0.816158
6,Borough Park,2018,335.0,60383,0.005548,2504.0,138570.00000,0.241755
7,Borough Park,2018,335.0,60383,0.005548,2546.0,337152.76230,0.099361
8,Brownsville,2018,60.0,36432,0.001647,2508.0,122128.00000,0.049129
9,Canarsie,2018,470.0,65237,0.007205,2510.0,195026.00000,0.240994
10,Central Harlem,2018,570.0,59541,0.009573,2478.0,146309.00000,0.389586
11,Chelsea/Clinton,2018,271.0,85163,0.003182,2472.0,110265.37740,0.245771
12,Coney Island,2018,470.0,46421,0.010125,2505.0,113339.00000,0.414685
13,East Flatbush,2018,1127.0,58120,0.019391,2509.0,135931.00000,0.829097
14,East Harlem,2018,307.0,56990,0.005387,2479.0,110800.00000,0.277076
15,East Harlem,2018,307.0,56990,0.005387,2554.0,113268.17300,0.271038
16,East New York,2018,916.0,65804,0.013920,2497.0,171170.00000,0.535141
17,East New York,2018,916.0,65804,0.013920,2544.0,184764.43330,0.495766
18,East Tremont,2018,1382.0,33005,0.041872,2486.0,89614.61208,1.542159
19,Flushing,2018,314.0,96260,0.003262,2517.0,239000.00000,0.131381
20,Fort Greene/Brooklyn Hts,2018,368.0,68650,0.005361,2494.0,145843.00000,0.252326
21,Fresh Meadows/Briarwood,2018,172.0,59030,0.002914,2518.0,164615.00000,0.104486
22,Greenwich Village,2018,77.0,57146,0.001347,2470.0,90603.21380,0.084986
23,Jamaica/St. Albans,2018,949.0,76920,0.012337,2522.0,241539.00000,0.392897
24,Lower East Side,2018,207.0,81404,0.002543,2471.0,155408.00000,0.133198
25,Morrisania,2018,1239.0,34238,0.036188,2483.0,85841.38792,1.443360
26,Mott Haven,2018,757.0,39063,0.019379,2481.0,104393.13560,0.725143
27,Murray Hill/Stuyvesant,2018,127.0,99362,0.001278,2474.0,143582.00000,0.088451
28,Ridgewood/Glendale,2018,299.0,66329,0.004508,2515.0,186441.00000,0.160372
29,Riverdale,2018,234.0,44172,0.005297,2488.0,119846.00000,0.195251
30,South Beach,2018,144.0,48732,0.002955,2526.0,137973.00000,0.104368
31,St. George,2018,315.0,65009,0.004845,2525.0,174606.00000,0.180406
32,Sunnyside/Woodside,2018,670.0,67243,0.009964,2512.0,137490.00000,0.487308
33,Sunset Park,2018,113.0,41436,0.002727,2499.0,132875.00000,0.085042
34,Sunset Park,2018,113.0,41436,0.002727,2545.0,126721.08660,0.089172
35,The Rockaways,2018,461.0,45804,0.010065,2524.0,127676.00000,0.361070
36,Throgs Neck,2018,972.0,49638,0.019582,2490.0,119071.00000,0.816320
37,Upper East Side,2018,177.0,149217,0.001186,2476.0,204469.00000,0.086566
38,Upper East Side,2018,177.0,149217,0.001186,2556.0,219078.53380,0.080793
39,Upper West Side,2018,217.0,127516,0.001702,2475.0,191222.00000,0.113481
40,Upper West Side,2018,217.0,127516,0.001702,2555.0,216284.08100,0.100331
41,Washington Heights,2018,679.0,72895,0.009315,2480.0,214040.00000,0.317230
42,Williamsbridge,2018,717.0,54941,0.013050,2492.0,135799.00000,0.527986
43,Williamsburg/Greenpoint,2018,491.0,86107,0.005702,2493.0,162381.00000,0.302375
44,Woodhaven,2018,461.0,46203,0.009978,2519.0,139079.00000,0.331466

In [82]:
merged_with_pop=merged_with_pop.drop(columns=["colnum","Unit"])

KeyError: "['colnum', 'Unit'] not found in axis"

In [84]:
merged_with_pop

,Neighborhood,Year,Evictions,Eviction Rate,Population,Eviction Rate by Population
0,Astoria,2018,280.0,0.003202,160871.00000,0.174053
1,Battery Park/Tribeca,2018,49.0,0.001116,61375.78620,0.079836
2,Bay Ridge,2018,258.0,0.004955,125200.00000,0.206070
3,Bayside,2018,55.0,0.001218,115744.00000,0.047519
4,Bedford Park,2018,1585.0,0.030491,133784.00000,1.184746
5,Bedford Stuyvesant,2018,1266.0,0.017958,155117.00000,0.816158
6,Borough Park,2018,335.0,0.005548,138570.00000,0.241755
7,Borough Park,2018,335.0,0.005548,337152.76230,0.099361
8,Brownsville,2018,60.0,0.001647,122128.00000,0.049129
9,Canarsie,2018,470.0,0.007205,195026.00000,0.240994
10,Central Harlem,2018,570.0,0.009573,146309.00000,0.389586
11,Chelsea/Clinton,2018,271.0,0.003182,110265.37740,0.245771
12,Coney Island,2018,470.0,0.010125,113339.00000,0.414685
13,East Flatbush,2018,1127.0,0.019391,135931.00000,0.829097
14,East Harlem,2018,307.0,0.005387,110800.00000,0.277076
15,East Harlem,2018,307.0,0.005387,113268.17300,0.271038
16,East New York,2018,916.0,0.013920,171170.00000,0.535141
17,East New York,2018,916.0,0.013920,184764.43330,0.495766
18,East Tremont,2018,1382.0,0.041872,89614.61208,1.542159
19,Flushing,2018,314.0,0.003262,239000.00000,0.131381
20,Fort Greene/Brooklyn Hts,2018,368.0,0.005361,145843.00000,0.252326
21,Fresh Meadows/Briarwood,2018,172.0,0.002914,164615.00000,0.104486
22,Greenwich Village,2018,77.0,0.001347,90603.21380,0.084986
23,Jamaica/St. Albans,2018,949.0,0.012337,241539.00000,0.392897
24,Lower East Side,2018,207.0,0.002543,155408.00000,0.133198
25,Morrisania,2018,1239.0,0.036188,85841.38792,1.443360
26,Mott Haven,2018,757.0,0.019379,104393.13560,0.725143
27,Murray Hill/Stuyvesant,2018,127.0,0.001278,143582.00000,0.088451
28,Ridgewood/Glendale,2018,299.0,0.004508,186441.00000,0.160372
29,Riverdale,2018,234.0,0.005297,119846.00000,0.195251
30,South Beach,2018,144.0,0.002955,137973.00000,0.104368
31,St. George,2018,315.0,0.004845,174606.00000,0.180406
32,Sunnyside/Woodside,2018,670.0,0.009964,137490.00000,0.487308
33,Sunset Park,2018,113.0,0.002727,132875.00000,0.085042
34,Sunset Park,2018,113.0,0.002727,126721.08660,0.089172
35,The Rockaways,2018,461.0,0.010065,127676.00000,0.361070
36,Throgs Neck,2018,972.0,0.019582,119071.00000,0.816320
37,Upper East Side,2018,177.0,0.001186,204469.00000,0.086566
38,Upper East Side,2018,177.0,0.001186,219078.53380,0.080793
39,Upper West Side,2018,217.0,0.001702,191222.00000,0.113481
40,Upper West Side,2018,217.0,0.001702,216284.08100,0.100331
41,Washington Heights,2018,679.0,0.009315,214040.00000,0.317230
42,Williamsbridge,2018,717.0,0.013050,135799.00000,0.527986
43,Williamsburg/Greenpoint,2018,491.0,0.005702,162381.00000,0.302375
44,Woodhaven,2018,461.0,0.009978,139079.00000,0.331466

In [85]:
merged_with_pop.to_csv("./eviction_rate_with_pop.csv", index=False)